.bg-nav {
  background-color: #82bae2;
}
.jumbotron {
  padding-top: 5.5rem;
  background-color: #82bae2;
}

.list-price {
  background-color: #82bae2;
}

.img-style {
  width: 18rem;
}
.profile-update {
  height: 200px;
  width: 200px;
}
